@import './mixins.scss';
@import './variables.scss';
@import 'sass-rem';

// import custom font
// ...

// global styles
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: $background-gradient;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
  &:hover {
    color: $hover-color;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// Button styles
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $button-bg-color;
  cursor: pointer;
  transition: border-color 0.15s ease-out;
  &:hover {
    background-color: $button-bg-color;
    color: #ffffff;
    border-color: $primary-color;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &:disabled {
    background-color: $button-disabled-bg-color;
    border-color: $button-disabled-bg-color;
    color: $button-disabled-color;
  }
}

// Logo styles
#root {
  max-width: 1280px;
  margin: auto auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  &:hover {
    filter: drop-shadow(0 0 2em $logo-shadow-color);
  }
  &.react:hover {
    filter: drop-shadow(0 0 2em $logo-react-shadow-color);
  }
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Animations
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Media queries
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: $button-disabled-bg-color;
  }
}

@media (max-width: 768px) {
  #root {
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  #root {
    overflow: hidden;
  }
}
