// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Global Variables (if needed)
$logo-shadow-color: #646cffaa;
$logo-react-shadow-color: #61dafbaa;
$primary-color: #646cff;
$hover-color: #535bf2;
$background-gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 54, 1) 35%, rgba(0, 212, 255, 1) 100%);
$button-bg-color: #535bf2;
$button-disabled-bg-color: #f9f9f9;
$button-disabled-color: #a0a0a0;
