.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-cell {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 80px;
  text-shadow: rgba(149, 157, 165, 0.2) 4px 3px 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-cell.is-x {
  color: red;
}

.game-cell.is-o {
  color: blue;
}

.game-winner-lb {
  color: yellow;
  font-size: 20px;
  font-weight: 700;
  margin: 25px;
}
